<footer>
    <hr>
    <h4 style="font-style: italic; text-align:center; color:blue;">Suivez-nous sur:</h4>
    <ul>
        <li>
            <span class="fa fa-facebook"> ElleRebelle Boutique</span>
        </li>
        <li>
            <span class="fa fa-twitter"> ElleRebelle</span>
        </li>
        <li>
            <span class="fa fa-instagram"> Boutique ElleRebelle</span>
        </li>
    </ul>
</footer>