{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
        <h3>Editer le bien </h3>
        {{ include ('admin/product/_form.html.twig', {button: 'Editer'}) }}
    </div>
{% endblock %}